src/main/mule/deploy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="41d83289-57c5-4e27-863e-bd8fb3ae9785" >
		<http:listener-connection host="${http.host}" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="84989932-dafb-42bb-92d3-9c1a6e775ee5" file="${env}.yaml" />
	<flow name="deployFlow" doc:id="c9793414-bb71-44c4-beef-ac8c6061ec43" >
		<http:listener doc:name="Listener" doc:id="c172b761-9186-485e-98d3-431bdf834350" config-ref="HTTP_Listener_config" path="deploy"/>
		<ee:transform doc:name="Transform Message" doc:id="1388d3ee-3799-4de1-a348-fe8ca764fc94" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"succesfully deployed"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="898cbe42-f8d7-4ebb-ad5d-99b67547275e" message="#[payload]"/>
	</flow>
</mule>
